.contact {
   display: grid;
   text-align: left;
   border: 2px solid #ffffff;
   border-radius: 20px;
   padding: 10px 30px;
   margin-bottom: 20px;
}

.contact-text-and-edit {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.contact-text {
   width: 85%;
}

.contact-text input {
   display: flex;
   justify-content: space-between;
   padding: 5px 0;
   margin-bottom: 5px;
   border: none;
   border-bottom: 2px solid #ffffff;
   background-color: transparent;
   width: 100%;
   color: #ffffff;
   font-size: calc(10px + 2vmin);
}

.contact-text input:focus {
   border-color: red;
   outline: none;
}


.edit-form {
   display: flex;
   justify-content: space-between;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.edit-form__text input{
   display: flex;
   flex-direction: column;
   background-color: #282c34;
   border: none;
   color: #ffffff;
   font-size: calc(6px + 2vmin);
   padding: 7px 0 7px 20px;
   margin-bottom: -5px;
}

.edit {
   background-color: initial;
   border: none;
   cursor: pointer;
   margin-top: 20px;
}

.save {
   background-color: initial;
   border: none;
   cursor: pointer;
   margin-top: 20px;
}

.delete {
   background-color: initial;
   border: none;
   cursor: pointer;
}

.material-icons {
   color: #ffffff;
   font-size: calc(10px + 2vmin);
   cursor: pointer;
}


